.container {
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(162, 203, 154);
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.header {
  display: inline-block;
  margin-bottom: 1rem;
  color: #074800;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.selection {
  display: inline-block;
  max-width: fit-content;
  margin-right: 1em;
  background-color: #074800;
  color: rgb(162, 203, 154);
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 5px 1px #074800;
}

.selection * {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #074800;
  color: rgb(162, 203, 154);
  border-style: none;
}

.chartArea {
  padding: 1em;
  display: block;
  margin: 1em auto;
  border: 1px solid black;
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .header {
    width: 100%;
  }

  .selection {
    display: flex;
    max-width: 100%;
    padding: .2em;
    margin-bottom: .5em;
    text-align: right;
    font-size: 1rem;
  }

  .selection > label {
    float: left;
  }

  .selection > select {
    flex-grow: 1;
    text-align: center;
  }

  .selection * {
    font-size: 1.1rem;
    font-weight: normal;
  }

  .selection > select * {
    font-size: 1.1rem;
    font-weight: normal;
  }

  .chartArea {
    padding: .2em;
  }
}

@media screen and (max-width: 1478px) {
  .container {
    max-width: 90%;
  }

  .header {
    width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    flex-grow: 1;
  }

  .header {
    width: 100%;
  }
}